<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<h1>예시</h1>
<span th:text="${data}">html data</span>

<h1>1. 표준 HTML 주석</h1>
<!--
<span th:text="${data}">html data</span>-->

<h1>2. 타임리프 파서 주석 -> 렌더링 할 때 다 지워버림</h1>
<!--/* [[${data}]] */-->

<!--/*-->
<span th:text="${data}">html data</span>
<!--*/-->

<h1>3. 타임리프 프로토타입 주석 -> 파일로 열 때는 표시 안하지만, 웹에서 서버 사이드로 렌더링 될 때는 표시한다</h1>
<!--/*/
<span th:text="${data}">html data</span>
/*/-->

</body>
</html>